{% extends "base.html" %}

{% block contant %}
<form method="POST" action="{{ url_for('posts.update_post', post_id=post.id) }}" novalidate enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="text-center mt-3">
        {{ form.title.label(class="form-control-label w-50") }}
        {% if form.title.errors %}
            {{ form.title(class="form-control mt-2 m-auto is-invalid w-50") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.title(class="form-control mt-2 m-auto w-50") }}
        {% endif %}
    </div>
    <div class="text-center mt-3">
        {{ form.discription.label(class="form-control-label w-50") }}
        {% if form.discription.errors %}
            {{ form.discription(class="form-control mt-2 m-auto is-invalid w-50") }}
            <div class="invalid-feedback">
                {% for error in form.discription.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.discription(class="form-control mt-2 m-auto w-50") }}
        {% endif %}
    </div>
    <div class="text-center mt-3">
        {{ form.image.label(class="form-control-label w-50") }}
        {{ form.image(class="form-control-file mt-2 m-auto w-50") }}
        {% if form.image.errors %}
            {% for error in form.image.errors %}
                <span class="text-danger">{{error}}</span><br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="text-center mt-3">
        {{ form.submit(class="btn btn-success mt-2") }}
    </div>
</form>

{% endblock contant %}